*{
    margin: 0;
    padding: 0;
    background-color: honeydew;
}
.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 280px;
    
}
p{
    font-size: 35px;
    color: cadetblue;
    margin-top: -30px;
    margin-bottom: 10px;
}
input{
    border-radius: 10px;
    border: 2px solid cadetblue;
    height: 20px;
    margin-bottom: 10px;
}
button{
    width: 50px;
    height: 20px;
    border-radius: 10px;
    color:floralwhite;
    background-color: cadetblue;
    border: none;
}